// BREAKPOINTS \\

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// MIXINS \\

// Small devices
@mixin up-sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin up-md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin up-lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin up-xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin to-sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin to-md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin to-lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}
